* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.woff2");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.woff2");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.woff2");
}

@font-face {
  font-family: GilroyExtrabold;
  src: url("./assets/fonts/Gilroy-Extrabold.woff2");
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");

}

body {
  font-family: Gilroy, sans-serif;
}

.main {
  background-color: #eba8b1;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: 0;
  outline: none;
  border-radius: 30px;
  background-image: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  box-sizing: border-box;
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 424px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
